.vote-average-item {
    position: absolute;
    font-size: 14px;
    border-radius: 10px 0 0 0;
    color: white;
    font-weight: bold;
    padding: 4px;
}

.bg-orange {
    background-color: #ff4800;
}

@media (max-width: 1200px) {
    .vote-average-item {
        position: absolute;
        top: 0;
        left: 0;
    }
}