.custom-navbar-color, .custom-card-body-color, .custom-pagination-color, .custom-footer-color {
    background-color: #252627;
}

.custom-background-color {
    background-color: #1d1e20;
}

.custom-margin-top {
    margin-top: 120px;
}

.custom-min-height {
    min-height: 100px;
}

.custom-max-width {
    max-width: 100%;
}

.custom-rounded {
    border-radius: 10px;
}

.custom-rounded-img {
    border-radius: 10px 10px 0 0;
}

.custom-adult {
    font-size: 14px;
    border-radius: 0 10px 0 0;
    background-color: red;
}

.custom-vote-average {
    font-size: 14px;
    border-radius: 10px 0 0 0;
}

.bg-orange {
    background-color: #ff4800;
}


.custom-input {
    width: 400px;
}

.pagination .page-item .page-link{
    background-color: #1d1e20;
    border-color: #252627;
    height: 45px;
    width: 45px;
    font-size: 20px;
}

.pagination .page-link {
    text-align: center;
}

.pagination .page-link:focus {
    outline: none;
    box-shadow: none;
}

.pagination .page-item .page-link:hover {
    background-color: #252627;
}

.pagination .page-item.active .page-link {
    background-color: #252627;
}

.pagination .page-item .page-link[aria-label="Previous"],
.pagination .page-item .page-link[aria-label="Next"] {
    background-color: #252627;
}

.pagination .page-item .page-link[aria-label="Previous"]:hover,
.pagination .page-item .page-link[aria-label="Next"]:hover {
    background-color: #1d1e20;
}

.github {
    color: white;
    text-decoration: none;
}











