html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #1d1e20;
}

.navbar {
    min-height: 100px;
    background-color: #252627;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.container-fluid {
    background-color: #252627;
    padding: 0 13px;
}

.name-item {
    text-decoration: none;
    font-size: 1.75rem;
    color: #da202f;
    font-weight: bold;
    padding: 8px 8px 8px 0;
    margin-inline-start: 12px;
}

.navbar-toggler {
    margin-inline-end: 12px;
}

.collapse .navbar-collapse {
    margin: 12px;
}

.navbar-nav {
    margin-inline-end: auto;
    font-size: 1.5rem;
}

.nav-item {
    margin-inline-start: 12px;
}

.nav-link {
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.nav-link:hover {
    color: #da202f;
}

.nav-link.active {
    color: white;
}

.search-item {
    display: flex;
    padding: 8px 0;
    margin-inline-end: 12px;
    margin-inline-start: 12px;
    width: 25%;
    min-width: 250px;
}

@media (max-width: 991px) {
    .search-item {
        margin-inline-end: 12px;
        margin-inline-start: 12px;
        width: auto;
    }

    .navbar-action {
        display: flex;
        flex-direction: column;
    }

    .action-icon {
        font-size: 1.5rem;
    }

    .navbar-action .action-icon .nav-link span {
        display: inline-flex;
        padding-left: 5px;
    }
}

.navbar-action {
    display: flex;
    list-style: none;
    font-size: 2rem;
    padding: 0;
    margin: auto 0 auto auto;
    color: rgba(255, 255, 255, 0.55);
}

.navbar-action .action-icon span {
    display: none;
}

.action-icon {
    padding: 8px;
}

main {
    flex: 1;
}

.footer-container {
    height: 100px;
    color: white;
    text-align: center;
    align-content: center;
    justify-content: center;
    background-color: #252627;
    padding: 20px 0;
}

.github {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 7px;
}

.github:hover {
    color: #da202f;
    transition: 0.3s ease-in-out;
}

.footer-container .developer {
    margin: 0;
    font-size: 12px;
    padding-top: 7px;
}
