.pagination {
    justify-content: center;
    margin: 44px 0;
}

.pagination .page-item .page-link{
    background-color: #1d1e20;
    border-color: #252627;
    height: 45px;
    width: 45px;
    font-size: 20px;
}

.pagination .page-link {
    text-align: center;
    color: white;
}

.pagination .page-link:focus {
    outline: none;
    box-shadow: none;
}

.pagination .page-item .page-link:hover {
    background-color: #252627;
}

.pagination .page-item.active .page-link {
    background-color: #252627;
}

.pagination .page-item .page-link[aria-label="Previous"],
.pagination .page-item .page-link[aria-label="Next"] {
    background-color: #252627;
}

.pagination .page-item .page-link[aria-label="Previous"]:hover,
.pagination .page-item .page-link[aria-label="Next"]:hover {
    background-color: #1d1e20;
}