.profile-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
}

.auth-container, .profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 100px;
}

.card-auth, .card-profile {
    background-color: #252627;
    color: white;
    border-radius: 10px;
}

.card-body-auth, .card-body-profile {
    padding: 30px;
    text-align: center;
}

.card-body-profile {
    width: 25vw;
    min-width: 280px;
}

.card-body-auth h4 {
    font-weight: bold;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.card-body-profile h4 {
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
}

.card-body-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-body-profile .bi-person-fill {
    font-size: 150px;
}

.btn-custom-white {
    background-color: #252627;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    height: 40px;
    width: 120px;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 16px;
}

.btn-custom-white:hover {
    background-color: white;
    color: black;
    transition: 0.3s ease-in-out;
}

.item-form {
    position: relative;
    margin-bottom: 16px;
    border-radius: 10px;
}

.item-form .form-control {
    padding-right: 36px;
}

.item-form .bi {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.item-form input.form-control, .item-form select.form-select, .search-item input.form-control{
    border: 1px solid #ced4da;
    background-color: #252627;
    border-radius: 4px;
    transition: border-color 0.2s;
    color: white;
}

.item-form.error input.form-control {
    border-color: #da202f;
    background-color: rgba(255, 0, 0, 0.1);
}

.item-form input::placeholder, .search-item input::placeholder {
    color: #ced4da;
    opacity: 1;
}

.error-message {
    color: red;
    font-weight: bold;
}

.form-check-label{
    padding-left: 10px;
}

.btn-custom {
    background-color: #252627;
    border-radius: 10px;
    border: 1px solid #da202f;
    color: #da202f;
    height: 40px;
    width: 120px;
    font-weight: bold;
    font-size: 16px;
}

.btn-custom:hover {
    background-color: #da202f;
    color: white;
    transition: 0.3s ease-in-out;
}

.link-sign {
    margin: 16px 0 0 0;
}

.link-sign a{
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.link-sign a:hover {
    color: #da202f;
    transition: 0.3s ease-in-out;
}

.email-sent {
    margin: 16px 0 0 0;
}