
.trailer-container {
    display: flex;
    flex-direction: column;
    background-color: #252627;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto 44px auto;
    padding: 20px 30px;
    color: white;
}

.trailer-container:hover .line-item {
    background-color: #da202f;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.iframe-trailer {
    width: 100%;
    height: 650px;
    border-radius: 10px;
}

@media (max-width: 1200px) {
    .trailer-container {
        width: 500px;
    }

    .iframe-trailer {
        height: 350px;
    }
}